.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  transition: .3s;
  background-color: var(--tibet);
}

.header__container {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 10px 20px
}

.header__logo-small {
  display: none
}

.header__logo-big {
  margin-right: 10px;
  width: 140px;
  height: 50px;
  fill: var(--white);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__list .nav__item {
  margin-bottom: 0;
}

.nav__item {
  font-size: 16px
}

.nav__link {
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s
}

.nav__link:hover {
  color: var(--hover-orange)
}

.header__btn {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  line-height: 45px;
  background: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  -webkit-transition: color .3s, background .3s, border .3s, opacity .3s;
  -o-transition: color .3s, background .3s, border .3s, opacity .3s;
  transition: color .3s, background .3s, border .3s, opacity .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
}

.header__btn:hover {
  background-color: var(--hover-orange)
}

.header__btn--active {
  opacity: 1;
}

.header__nav,
.nav .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal
}

.header {
  z-index: 5
}

.header__container {
  position: relative;
  display: flex;
  align-items: center
}


.header__tel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  transition: color 0.4s ease;
}

.header__tel:focus {
  color: var(--hover-orange);
}

.header__tel:hover {
  color: var(--orange);
}

.header__tel:active {
  color: var(--orange);
}

.header__icon {
  fill: var(--white);
  transition: fill 0.4s ease;
}

.header__tel:focus .header__icon {
  fill: var(--hover-orange);
}

.header__tel:hover .header__icon {
  fill: var(--orange);
}

.header__tel:active .header__icon {
  fill: var(--hover-orange);
}

.header__feedback {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}